name: Build & Release (wheel)

on:
    push:
        tags:
            - "v*"

jobs:
    build-and-release:
        runs-on: ubuntu-latest

        permissions:
            contents: write # nécessaire pour créer une GitHub Release

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Upgrade pip
              run: |
                  python -m pip install --upgrade pip

            - name: Install build tools
              run: |
                  pip install build

            - name: Build wheel and sdist
              run: |
                  python -m build

            - name: List dist files (debug)
              run: |
                  ls -lh dist/

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      dist/*.whl
                      dist/*.tar.gz
                  generate_release_notes: true
